@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flowbite */
@import "flowbite";

/* Remixicon */
@import "remixicon/fonts/remixicon.css";

body {
  font-family: "Inter", sans-serif;
}




/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9pbnB1dC5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEiLCJmaWxlIjoic3R5bGVzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkB0YWlsd2luZCBiYXNlO1xyXG5AdGFpbHdpbmQgY29tcG9uZW50cztcclxuQHRhaWx3aW5kIHV0aWxpdGllcztcclxuXHJcbi8qIEZsb3diaXRlICovXHJcbkBpbXBvcnQgXCJmbG93Yml0ZVwiO1xyXG5cclxuLyogUmVtaXhpY29uICovXHJcbkBpbXBvcnQgXCJyZW1peGljb24vZm9udHMvcmVtaXhpY29uLmNzc1wiO1xyXG5cclxuYm9keSB7XHJcbiAgZm9udC1mYW1pbHk6IFwiSW50ZXJcIiwgc2Fucy1zZXJpZjtcclxufVxyXG5cclxuXHJcblxyXG4iXX0= */