@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flowbite */
@import "flowbite";

/* Remixicon */
@import "remixicon/fonts/remixicon.css";

body {
  font-family: "Inter", sans-serif;
}



